html, input, textarea {
	font-family: Arial, Helvetica, sans-serif; 
	color:#7a7a7a;
}

a {
	color:#2f8db8;
	text-decoration: none;
	outline: none
}

a:hover {
	text-decoration: underline
}

a img {
	border: none;
}

p {
	margin: 0 0 11px 0;
}

#content {
	font-size: 0.75em;
	text-align: left;
}

#footer {
	font-size: 0.75em;
	text-align: left;
}

h1 {
	color: #0F77A6;
	font-size: 2em;
	margin-bottom: 13px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 500;
}

h2 {
	color: #323232;
	font-size: 1.75em;
	margin-bottom: 13px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 500;
}

h3, .h3 {
	color: #6B6B6B;
	font-size: 1.75em;
	margin-bottom: 7px;
	line-height: 1.2em;
}

h4 {
	color: #7A7A7A;
	font-size: 1.33em;
	margin-bottom: 7px;
}

h5 {
	color: #7A7A7A;
	font-size: 1.1em;
}

h6 {
	color: #7A7A7A;
	font-size: 1em;
}

#navigation-content h2 {
	margin-top: 40px;
}

#navigation-content ul {
	margin: -1em 0 0 0;
	padding: 0;
	list-style: none;
}

#navigation-content ul li {
	border-bottom: #d1d1d1 dashed 0.1em;
}

#navigation-content ul li a {
	color: #2F8DB8;
	text-decoration: none;
	line-height: 2.5em;
	background: url(images/marker.gif) top left no-repeat;
	background-position: 0 5px;
	padding-left: 19px;
}

#spip-admin {
	font-size: 0.75em;
}

.center {
	text-align: center;
}