html, input, textarea {
	font-family: Arial, Helvetica, sans-serif; 
	color:#7a7a7a;
}

a {
	color:#2f8db8;
	text-decoration: none;
	outline: none
}

a:hover {
	text-decoration: underline
}

a img {
	border: none;
}

p {
	margin: 0 0 11px 0;
}

#content {
	font-size: 0.75em;
	text-align: left;
}

#footer {
	font-size: 0.75em;
	text-align: left;
}

h1 {
	color: #0F77A6;
	font-size: 2em;
	margin-bottom: 13px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 500;
}

h2 {
	color: #323232;
	font-size: 1.75em;
	margin-bottom: 13px;
	line-height: 1.2em;
	text-transform: uppercase;
	font-weight: 500;
}

h3, .h3 {
	color: #6B6B6B;
	font-size: 1.75em;
	margin-bottom: 7px;
	line-height: 1.2em;
}

h4 {
	color: #7A7A7A;
	font-size: 1.33em;
	margin-bottom: 7px;
}

h5 {
	color: #7A7A7A;
	font-size: 1.1em;
}

h6 {
	color: #7A7A7A;
	font-size: 1em;
}

#navigation-content h2 {
	margin-top: 40px;
}

#navigation-content ul {
	margin: -1em 0 0 0;
	padding: 0;
	list-style: none;
}

#navigation-content ul li {
	border-bottom: #d1d1d1 dashed 0.1em;
}

#navigation-content ul li a {
	color: #2F8DB8;
	text-decoration: none;
	line-height: 2.5em;
	background: url(../images/marker.gif) top left no-repeat;
	background-position: 0 5px;
	padding-left: 19px;
}

#spip-admin {
	font-size: 0.75em;
}

.center {
	text-align: center;
}
* {
	margin: 0;
	padding: 0;
}

html, body {
	height: 100%;
}

body {
	line-height: 1.125em;
	min-width: 64em; /* 1024px */
	background: url(../images/bg.gif) top repeat-x #edefef;
}

#page {
	width: 64em; /* 1024px */
	margin: 0 auto;
	background: white;
}

/* Onglets */

#onglets {
	text-align: center;
}

#onglets ul {
	margin: 0;
	padding: 0;
	list-style: none;
	height: 3.75em; /* 60px */
}

#onglets ul li a {
	color: #e7e7e7;
	text-decoration: none;
	padding: 0 1.7em; /* 0 31px 0 30px*/
	float: left;
	line-height: 3.75em; /* 60px */
	text-transform: uppercase;
	background: url(../images/menu/bg_menu.gif) top right no-repeat
}

#onglets ul li a:hover {
	color: #171717;
	text-decoration: none;
	background: url(../images/menu/bg_menu-act.gif) top left repeat-x;
}

#onglets ul li a.current {
	color: #171717;
	text-decoration: none;
	background: url(../images/menu/bg_menu-act.gif) top left repeat-x;
}

/* Header (hors onglets) */

.right_bgd {
	position: absolute;
	top: 0;
	right: 0;
	width: 50%;
	height: 24.8em; /* 397px */
	background: url(../images/tall_top_right.gif) left top repeat-x;
	z-index: -100;
}

#header {
	height: 14em; /* 225px */
	background: url(../images/top.jpg) top center no-repeat;
}

#header_content {
	margin: 2.5em 2.5em 4.7em 2.5em; /* 40px 40px 75px 40px */
}

#logo {
	width: 29em; /* #page_width - header_margin : 472px */
	float: left;
}

#search {
	text-align: right;
	width: 29em; /* 472px */
	float: left;
	margin-top: 1em; /* 15px */
}

#search input {
	width: 22.8em; /* 270px */ /* Dimensions de l'image de fond */
	height: 2.9em; /* 31px */
	background: url(../images/bg_input.gif) top left no-repeat;
	border: none;
	padding: 0 1em; /* 0 15px */
	margin-right: -1em; /* -15px */ /* Équivalente au padding */
	outline: none;
}

#search input:focus {
	border: none;
}

#search a {
	position: absolute;
	margin-left: -3em; /* -60px */
	margin-top: 0.1em;
	height: 1.8em; /* 25px */
}

#search h2 {
	margin-right: 1.8em; /* 60px */
	margin-bottom: 0.2em; /* 6px */
	color: #E7E7E7 !important;
}

/* Contenu */

#content {
	border: #C0C0C0 solid 1px;
	overflow: hidden;
}

#content-main {
	min-width: 52em;
	width: 78.1em;
	background:transparent;
	margin: 3em 3.5em; /* 40px 42px */
	float: left;
	min-height: 25em;
}

/* Navigation */

#navigation {
	float: left;
	background: transparent;
	width: 23em; /* 275px */
	margin: 3em 0; /* 40px 0 */
}

/* Pied de page */

#footer {
	height: 5em; /* 70px */
	width: 82em; /* 1024px */
	background: #edefef;
	padding: 1em 2em 0 2em; /* 20px 30px 0 30px */
}

#footer_content_left {
	width: 40.5em; /* 482px */
	float: left;
}

#footer_content_right {
	text-align: right;
	width: 40.5em; /* 482px */
	float: left;
}

#footer p {
	margin-bottom: 0;
}

#footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#footer ul li {
	margin: 0;
	display: inline;
	background: url(../images/bg_li.gif) center left no-repeat;
	float: left;
}

#footer ul li.first {
	background: none;
}

#footer ul li a {
	color: #2C8EB7;
	text-decoration: none;
	display: block;
	float: left;
	padding: 0.2em 0.5em; /* 2px 7px 2px 8px */
}

#footer ul li.first a {
	background: none;
	padding-left: 0;
}

#footer ul li.current a {
	color: #5C5C5C;
}

/* Formulaire espace privé */

.form-espace-prive, .formulaire_ecrire_auteur {
	width: 100%;
}

.form-espace-prive fieldset, .formulaire_ecrire_auteur fieldset {
	border: none;
}

.form-espace-prive fieldset:hover {

}

.formulaire_ecrire_auteur legend {
	display: none;
}

.form-espace-prive label.text, .formulaire_ecrire_auteur label {
	display: block;
	width: 30%;
	float: left;
	padding: 0 0.5em 0 0; /* 0 5px */
}

.form-espace-prive label:hover {
	/*font-weight: bold;*/
}

.form-espace-prive input[type=text], .form-espace-prive input[type=password], .formulaire_ecrire_auteur input[type=text], .formulaire_ecrire_auteur textarea {
	width: 64%;
	height: 1.5em; /* 18px */
	font-size: 1em;
	color: #7a7a7a;
	-moz-border-radius: 0.4em; /* 5px */
	-webkit-border-radius: 0.4em; /* 5px */
	-khtml-border-radius: 0.4em; /* 5px */
	border-radius: 0.4em; /* 5px */
	border-color: #C0C0C0;
	border-width: thin;
	padding: 0 0.2em; /* 0 2px */
}

.formulaire_ecrire_auteur input[type=text], .formulaire_ecrire_auteur textarea {
	width: 67%;
}

.formulaire_ecrire_auteur textarea {
	height: 9em;
}

.formulaire_ecrire_auteur ul {
	list-style: none;
}

.formulaire_ecrire_auteur li {
	margin-bottom: 1em;
}

.form-espace-prive button {
	color: #737373;
	background-color: #d1d1d1;
	width: 7em; /* 85px */
	text-align: center;
	font-weight: bold;
	line-height: 2.9em; /* 30px */
	text-decoration: none;
	/*margin-left: 63px;*/
	-moz-border-radius: 1.5em; /* 15px */
	-webkit-border-radius: 1.5em; /* 15px */
	-khtml-border-radius: 1.5em; /* 15px */
	border-radius: 1.5em; /* 15px */
	border: none;
	float: right;
	margin-top: -4em;
}

.formulaire_ecrire_auteur p.boutons {
	width: 100%;
	text-align: right;
}

.formulaire_ecrire_auteur input[type=submit]  {
	color: #737373;
	background-color: #d1d1d1;
	width: 12em;
	text-align: center;
	font-weight: bold;
	line-height: 2.9em;
	text-decoration: none;
	-moz-border-radius: 1.5em; /* 15px */
	-webkit-border-radius: 1.5em; /* 15px */
	-khtml-border-radius: 1.5em; /* 15px */
	border-radius: 1.5em; /* 15px */
	border: none;
}

/* Ajout partie intranet */

.h5_modifie{
	color : #0f77a6;	
	border-bottom: #0f77a6 solid 1px;
	margin-bottom: 1em;
}

/* css for timepicker */
.ui-timepicker-div .ui-widget-header{ margin-bottom: 8px; }
.ui-timepicker-div dl{ text-align: left; }
.ui-timepicker-div dl dt{ height: 25px; }
.ui-timepicker-div dl dd{ margin: -25px 0 10px 65px; }
.ui-timepicker-div td { font-size: 90%; }

#jsmin a.download{display:block;padding:10px 20px;font-size:20px;font-weight:bold;text-decoration:none;text-align:center;color:#fff;background:#1d9f2f;-moz-border-radius:8px;}

.tooltip{width:200px;margin:0;padding:5px;font-size:11px;color:#666;background:#fff;border:5px solid #ccc;}
.tooltip p{margin:0;text-align:justify;}
#tooltip_1{z-index:100000;}
#tooltip_2{height:300px;width:300px;background:#fff;border-color:#e66;}
#tooltip_3{background:#fff;border-color:#8c6;}


.flexigrid div.fbutton .delete { background: url('/../images/editdelete-icone-7500-16.png') no-repeat center left; }
.flexigrid div.fbutton .edit { background: url('../images/editeurs-forfait-icone-8056-16.png') no-repeat center left; }
.flexigrid div.fbutton .add { background : url('../images/ajouter-modifier-icone-9159-16.png') no-repeat center left;}
.flexigrid div.fbutton .relier { background : url('../images/connecter-en-creant-icone-8226-16.png') no-repeat center left; }
.flexigrid div.fbutton .add_user { background : url('../images/ajouter-modifier-icone-9159-16.png') no-repeat center left;}
.flexigrid div.fbutton .detail { background : url('../images/loupe.png') no-repeat center left;}
.flexigrid div.fbutton .valider { background : url('../images/icone_ok_16.png') no-repeat center left;}


/* Sidebar */

#sidebar{
	float: right;
	margin-top: -25em;
}

#sidebar-formateur{
	float: right;
	margin-top: -25em;
	margin-right: 5em;
}
/* Actions administrateur */

.block-left{
	float: left;
	margin-top: 1em;
	width: 20em;
}

.block-right{
	margin-left: 15em;
	margin-top: 2em;
	width: 20em;
}

.block-top{
	margin-bottom: 5em;
}

.block-bottom{
	margin-top : 1em;
}

.block-left-bottom{
	margin-top : -4em;
	width: 20em;
}

#autre_action{
	padding-bottom: 1em;
}

#img_utilisateur{
	margin-bottom : -3em;
}

/* Actions formateur */

.block-left-formateur{
	margin-top: 1em;
	margin-left : 5em;
	width: 20em;
}

.block-right-formateur{
	margin-left: 25em;
	margin-top: -10.95em;
	width: 20em;
}

.block-top-formateur{
	margin-bottom: 5em;
}

.block-bottom-formateur{
	margin-top : 1em;
}

.block-left-bottom-formateur{
	width: 20em;
	margin-left	: 5em;
	margin-bottom: 5em;
}

#action_formateur{
	margin-top: 5em;
}

/*Formulaire de modification des info*/

#titre_modifier > h5{
	color : #0f77a6;	
}

#titre_modifier{
	border-bottom: #0f77a6 solid 1px;
}

#label-left{
	float: left;
}

#label-left > label, #input-right > input{
	display : block;
}

#label-left > label{
	margin-top: 0.9em;
}

#input-right{
	margin-left: 15em;
	margin-top : 2.3em;
}

#input-right > input{
	margin-top : 1em;
}

#nom{
	margin-top : 2.4em;
}

.errors_modifier{
	float : right;
}

#span-right{
	margin-right : 22em;
}

#info_nom{ margin-top : -17em}
#info_prenom{ margin-top : -15em}
#info_adresse{ margin-top : -12.6em}
#info_codePostal{ margin-top : -8.5em}
#info_ville{ margin-top : -5.9em}
#info_telephone{ margin-top : -3.5em}
#info_email { margin-top : -1.5em}

#submit_modifier{
	margin-left: 5.4em;
	margin-top: 3em;
}

/* Changement de mot de passe */

#label_changePassword{
	float : left;
	margin-right: 5em;
}

#label_changePassword > label{
	margin-top: 1em;
	display: block;
}

#input_changePassword{
	margin-top: 2.4em;
}

#input_changePassword > input{
	margin-top: 1em;
	display: block;
}

#submit_changePassword{
	margin-top: 2em;
	margin-bottom: 2em;
	margin-left: 1em;
}

/*FAQ*/

.question-faq{
	font-style: italic;
	cursor: pointer;
	font-size: 14px;
	margin-bottom: 1em;
}

.reponse-faq{
	margin-left : 1em;
	font-size: 14px;
	margin-bottom: 1em;
	border : 1px solid #AAA;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px 4px;
	background-color: #F5F5F5;
	padding : 1em;
}


#question, #reponse{
	width : 22em;
	height : 10em;
}

.separateur{
	text-align: center;
	width: 20em;
	margin: 3em;
	height: 1em;
	border-bottom: 1px solid #0f77a6;
	margin-left: 25em;
	margin-top: 2em;
}


/* Flexigrid */

.flexigrid{
	margin: -3em -3.5em;
}

/* Formulaire de connexion */
#label_login{
	float : left;
}

#label_login > label{
	display: block;
	margin-top: 1em;
}

#input_login{
	margin-right: 50em;
	float: right;
	margin-top: 0.39em;
}

#input_login > input{
	display: block;
	margin-top: 1em;
}

#submit_login{
	margin-top: 5em;
	margin-left: 12.5em;
}

/* Modification des dialogs */
.ui-widget{
	font-family: Arial, Helvetica, sans-serif; 
	color:#7a7a7a;
	font-size: 0.85em;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
	font-family: Arial, Helvetica, sans-serif; 
	color:#7a7a7a;
	font-size: 0.85em;
}

/*Certification : ajouter une question*/
.ajouter_question_label{
	vertical-align: top;
}

#question{
	width : 40em;
	height : 8em;
}

.reponse{
	width : 40em;	
	height : 8em;
	margin-left : 0.41em;
	margin-bottom : 0.5em;
}

#reponse{
	width : 40em;	
	height : 8em;
}

.reponse_juste{
	margin-right : 1em;
	margin-left: 1em;
}

#ajouter_reponse, #ajouter_reponse:hover{
	text-decoration: none;
	cursor: pointer;
	margin-left : 6em;
}

#reponse_ouverte{
	margin-left : 9em;
	margin-right : 1em;
}

#valider_question_reponse{
	margin-top : 1em;
}	

/*Certification : lier une question*/

#question_obligatoire_lier{
	margin-right: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

#enregistrer_lier{
	margin-bottom: 2em; 
}

/* Formulaire edition utilisateur */
#label_edit_user{
	float : left;
	margin-left : 1em;
}

#label_edit_user > label{
	display: block;
	margin-top: 1em;
}

#input_edit_user{
	margin-right: 5em;
	float: right;
}

#input_edit_user > input, #input_edit_user > select{
	display: block;
	margin-top: 1.2em;
	width: 20em;
}

#nom_groupe > option{
	text-align: center;
}

